.container{
    margin-top: 20px;
}

.starsimg{
    height: 200px;
    width: 100%;
    display: block;
    object-fit: cover;
}

.overy{
    overflow: auto;
}

.h200{
    height: 280px;
}

.h300{
    height: 300px;
    margin-bottom: 10px;
}

.pres{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://cdn.pixabay.com/photo/2014/06/04/16/36/man-362150_1280.jpg");
    background-size: cover;
    background-position: center -80px;
    text-shadow: 2px 2px 2px black;
    padding: 100px 0;
}

.annonce-title{
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

.annonce-title h1, .annonce-title p{
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.carousel-item img{
    height: 400px;
    object-fit: cover;
}

.carousel-caption{
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.full{
    min-height: 70vh;
}

.avatar{
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}
.avatar-medium{
    max-width: 64px;
    max-height: 64px;
}
.avatar-mini{
    max-width: 24px;
    max-height: 24px;
}
